foo.py
mreddata.egg-info
setup.py
build
mreddata/foo.py
PKG-INFO
SOURCES.txt
dependency_links.txt
top_level.txt
LICENSE
defaultSaveName
defaultSaveName.eps
defaultSaveName.png
#setup.py
testμmm.png
build/bdist.macosx-10.6-intel
build/lib
mreddata.egg-info/PKG-INFO
mreddata.egg-info/SOURCES.txt
mreddata.egg-info/dependency_links.txt
mreddata.egg-info/top_level.txt

mreddataBackup/mreddata/*

testMred/*
mreddata/plottools.py
